* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 4em;
}

.section {
  border: 2px solid black;
  margin: 15px;
  float: left;
  background-color: #f4e7ff;
}

.sectitle {
  font-size: 24px;
  font-weight: bolder;
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
  width: 150px;
  text-align: center;
  float: right;
}

p {
  padding: 10px 20px 15px 20px;
  clear: both;
}

#chicken {
  background-color: #9de8f6;
}

#beef {
  color: white;
  background-color: #006452;
}

#sushi {
  background-color: #ffc46c;
}

.row {
  width: 100%;
}

/* CSS for Desktop */

@media (min-width: 992px) {

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    float: left;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* CSS for Tablet */

@media (min-width: 768px) and (max-width: 991px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 74.99%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/* CSS for Mobile */

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}