body {
  font-size: 18px;
  background-color: beige;
  color: #000000;
}

/******** Header CSS ********/
#header-nav {
  background-color: #ffc1c1;
  border-radius: 0;
  border: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.navbar-brand h1 { 
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
 line-height: 0.7;
 
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#menu-list {
  margin-top: 10px;
}
#menu-list a {
  color: #010101;
  text-align: center;
}
#menu-list a:hover {
  background: #ffefbc;
  border: 1px solid black;
}




/******** Header CSS End ********/



/******** Main Section CSS Start ********/

 h1 h2{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.menu-section {
  padding: 10px;
  background-color: #ffefbc;
  clear: both;
  margin: 15px 5px;

}

.menu-section p {
    padding: 5px 20px ;
  }
  
/******** Main Section CSS End ********/

 